.header-hamburger-menu
	&__hamburger-btn
		border 0
		background-color transparent
		padding 0

	&__hamburger-icon
		vertical-align top

@media (min-width: $mq.md)
	.header-hamburger-menu
		display none
