.header-order-btn
	display none
	font-weight 700
	line-height 20px
	color #313030
	padding 10px 40px
	background linear-gradient(180deg, #F0EB76 0%, #F5DF68 100%)
	border-radius 40px

@media (min-width: $mq.lg)
	.header-order-btn
		display block
